*{
    padding: 0;
    margin: 0;
    position:relative;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    color: lightblue;
}

body{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    
}

.header{
    background-color: #082029;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
    width: 100%;
    color: white;
}

h1{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background-color: #05171E;
}

/* #region Book */
.book_window{
    height: 700px;
    width: 400px;
    background-color: #082029;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
}

.book_header{
    height: auto;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section_1{
    height: 150px;
    width: 100%;
    border-top: solid 3px lightblue;
    border-bottom: solid 3px lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
}

.preview{
    width: 100%;
    height: 145px;
}

.section_2{
    height: 150px;
    width: 100%;
    border-bottom: solid 3px lightblue;
    display:flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

.header_section2{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255,155,144);
}

.likes{
    display: flex;
    gap: 5px;
    font-size: 20px;
}

.like_btn{
    width: 20px;
    height: 20px;
}

.like_btn:hover{
    cursor: pointer;
}

.table{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    display: flex;
}

.section_3{
    height: 100%;
    width: 100%;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h2{
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.table_comments{
    height: 232px;
    width:100%;  
    overflow-y: auto;
    max-width: 100%; 
    table-layout: fixed;
}

.td{
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

td{
    vertical-align: top;
}

.input_field_container{
    display:flex;
    border-color: lightblue;
    border-width: 5px;
    height: auto;
    width: 100%;
}

.input{
    width: 100%;   
    height: auto;
    color: black;
}

.input_style{
    background-color: lightblue;
    height: auto;
    color: black;
}

/* table{
    display:flex;
    flex-direction: column;
} */
/* #endregion */

footer{
    background-color: #082029;
    height: 100px;
    width:  100%;
}